{% extends "base.html" %}
{% block title %}Adicionar Veículo{% endblock %}
{% block content %}
<h1>Novo veículo</h1>
<form method="post" enctype="multipart/form-data">
  <label>Marca <input name="marca" required></label><br>
  <label>Modelo <input name="modelo" required></label><br>
  <label>CC <input name="CC" type="number"></label><br>
  <label>Cor <input name="cor"></label><br>
  <label>Matrícula <input name="matricula" required></label><br>
  <label>Ano <input name="ano" type="number"></label><br>
  <label>Nº lugares <input name="num_lugares" type="number"></label><br>
  <label>Local garagem <input name="local_garagem"></label><br>
  <label>Estado geral <input name="estado_geral"></label><br>
  <label>Fotos <input name="photos" type="file" multiple></label><br><br>
  <button type="submit">Guardar</button>
</form>
{% endblock %}
