{% extends "base.html" %}
{% block title %}Veículos{% endblock %}
{% block content %}
<h1>Veículos</h1>
<p><a href="{{ url_for('main.add_vehicle') }}">Adicionar</a> | <a href="{{ url_for('logout') }}">Sair</a></p>
<table border="1" cellpadding="6" cellspacing="0">
  <tr><th>ID</th><th>Marca</th><th>Modelo</th><th>Matrícula</th><th>Ano</th><th>Foto</th></tr>
  {% for v in vehicles %}
  <tr>
    <td>{{ v[0] }}</td>
    <td>{{ v[1] }}</td>
    <td>{{ v[2] }}</td>
    <td>{{ v[3] }}</td>
    <td>{{ v[4] }}</td>
    <td>
      {% if v[5] %}
        <img src="{{ url_for('main.uploaded_file', filename=v[5]) }}" alt="" style="height:64px">
      {% else %}-{% endif %}
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
